.gallery {
    max-width: 100%;
    display: inline-block;
}

.gallery > div, .gallery > div img {
    display: block;
}

.slider_area {
    padding: 1px;
    box-sizing: border-box;
}

.slider_image {
    width: 100%;
    display: block;
}

.images_list {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.image_block {
    width: 20%;
    display: inline-block;
    position: absolute;
    transition: all ease-out 0.3s;
    padding: 1px;
    box-sizing: border-box;
}

.image_block img {
    max-width: 100%;
    cursor: pointer;
}

.images_list::-webkit-scrollbar {
    width:2px;
    height:2px;
}

.grid_slider {
    position: relative;
    left: -20%;
}

.button {
    top: calc(50% - 23px);
    margin: 0;
    line-height: 0;
    background-color: rgba(50, 50, 50, 0.8);
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    transition: all ease-out 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

.button:focus {
    outline: none;
}

.left_btn {
    left: 5px;
}

.right_btn {
    right: 5px;
}

.button .icon {
    width: 26px;
    height: 26px;
    z-index: 1;
}

@media only screen and (max-width: 768px){
    .slider_buttons_block {
        display: none;
    }
    .grid_slider {
        position: static;
        left: 0;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .image_block {
        position: relative;
    }
}